{% extends 'base.html' %}
{% load staticfiles %}



{% block body %}


    <div class="circle--actions--bar">
        <nav class="bounds">
            <ul class="circle--pill--list">
                <li><a class="selected" href="{% url 'account:applications' %}">Applications</a></li>
                <li><a href="{% url 'account:profile' %}">Profile</a></li>

            </ul>
        </nav>
    </div>

    <div class="bounds circle--page">
        <div class="circle--page--header grid-100">
            <h2> Accepted Applications</h2>
        </div>

        <div class="grid-25">
            <div class="circle--filter circle--secondary--module">
                <h4>Status</h4>
                <ul class="circle--filter--list">
                    <li><a href="{% url 'account:applications' %}" >All Applications</a></li>
                    <li><a>New Applications</a></li>
                    <li><a class="selected" href="{% url 'account:accept' %}">Accepted</a></li>
                    <li><a href="{% url 'account:reject' %}">Rejected</a></li>
                </ul>
            </div>

            <div class="circle--filter circle--secondary--module">
                <h4>My Projects</h4>
                <ul class="circle--filter--list">
                    <li><a class="selected">All Projects</a></li>
                    {% for project in projects %}
                    <li><a href="{% url 'account:applications2' pk=project.id%}">{{ project }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--filter circle--secondary--module">
                <h4>Project Needs</h4>
                <ul class="circle--filter--list">
                    <li><a class="selected">All Needs</a></li>
                    <li><a>Android Developer</a></li>
                    <li><a>Designer</a></li>
                    <li><a>Java Developer</a></li>
                    <li><a>PHP Developer</a></li>
                    <li><a>Python Developer</a></li>
                    <li><a>Rails Developer</a></li>
                    <li><a>WordPress Developer</a></li>
                    <li><a>iOS Developer</a></li>
                </ul>
            </div>

        </div>

        <div class="grid-70 grid-push-5">
            <table class="u-full-width circle--table">
                <thead>
                <tr>
                    <th>Successful Applicant</th>
                    <th class="circle--cell--right">Applicant Position</th>

                </tr>
                </thead>
                {% for app in application %}
                    <tbody>
                    <tr class="clickable-row" data-href="{% url 'account:otherprofile' pk=app.user.id %}">

                        <td>
                            <h3>{{ app.user }}</h3>
                            <p>{{ app.project.all.first }}</p>
                        </td>

                        <td class="circle--cell--right">
                            <span class="secondary-label">{{ app.project.position.all.first }}</span>
                        </td>


                    </tr>

                    </tbody>
                {% endfor %}
            </table>

        </div>

    </div>

{% endblock %}
