{% extends 'base.html' %}


{% block body %}
    <div class="bounds circle--page">
        <div class="circle--page--header circle--fluid">
            <div class="circle--fluid--cell circle--fluid--primary">
                <h2>Projects</h2>
            </div>
            <div class="circle--fluid--cell circle--fluid--secondary">
                <a class="button button-primary icon-on-left" href="{% url 'account:newproject' %}">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13 13" style="enable-background:new 0 0 13 13;" xml:space="preserve" class="add">
            <polygon points="7,6 7,0 6,0 6,6 0,6 0,7 6,7 6,13 7,13 7,7 13,7 13,6 "/>
          </svg>
                    New Project
                </a>
            </div>
        </div>

        <div class="grid-25">
            <div class="circle--filter circle--secondary--module">
                <h4>Project Needs</h4>
                <ul class="circle--filter--list">
                    <li><a class="selected">All Needs</a></li>
                    {% for thing in projects %}
                    <li><a href="{% url 'index' %}">{{ thing.position.all.first }}</a></li>
                        
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="grid-70 grid-push-5">
            <table class="u-full-width circle--table">
                <thead>

                <tr>

                    <th class="circle--cell--right">Project Needs</th>

                </tr>
                </thead>
                {% if user.is_authenticated %}
                    {% for pro in projects %}
                        <tbody>
                        <tr class="clickable-row" data-href="{% url 'account:project' pk=pro.id %}">
                            <td>
                                <h3>{{ pro.title }}</h3>
                            </td>

                            {% for pos in pro.position.all %}
                                {% if pos %}
                                    <td class="circle--cell--right">
                                        <span class="secondary-label">{{ pos.title }}</span>
                                    </td>
                                    <td class="circle--cell--right">
                                        <span class="secondary-label">{{ pro.user }}</span>
                                    </td>
                                {% else %}
                                    <td class="circle--cell--right">
                                        <span class="secondary-label">No Requirements</span>
                                    </td>
                                    <td class="circle--cell--right">
                                        <span class="secondary-label">No Requirements</span>
                                    </td>
                                {% endif %}

                            {% endfor %}
                        </tr>

                        </tbody>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}
