{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <form method="POST">
    {% csrf_token %}


        <div class="circle--actions--bar">
            <div class="bounds">
                <div class="grid-100">
                    <input class="button button-primary" type="submit" value="Save Changes"
                           href="{% url 'account:project' pk=project.id %}">
                    <a class="button button-text" href="index.html">Delete Project</a>
                </div>
            </div>
        </div>



        <div class="bounds circle--page circle--article">
            <div class="grid-70">
                <div class="circle--article--body">
                    <input type="text" name="title" class="circle--input--h1" placeholder="Project Title"
                           value="{{ project.title }}"/>
                    <textarea name="description"
                              placeholder="Project description...">{{ project.description }}</textarea>
                </div>

                <div class="circle--project--positions">
                    <h2>Positions</h2>

                    <ul class="circle--group--list circle--clone--list">
                        {% for pos in project.position.all %}
                            <li>
                                <input type="text" name='ptitle' class="circle--input--h3" placeholder="Position Title"
                                       value="{{ pos }}"/>
                                <textarea name="pdescription"
                                          placeholder="Position description...">{{ pos.description }}</textarea>
                                <a class="circle--clone--add">Add Position</a>
                                <a class="circle--clone--remove">Remove</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <a class="button button-primary" href="project.html">Save Changes</a>

                </div>
            </div>

            <div class="grid-25 grid-push-5">
                <div class="circle--secondary--module">
                    <h3>Project Timeline</h3>
                    <textarea name="time" placeholder="Time estimate"
                              class="circle--textarea--input">{{ project.project_timeline }}</textarea>
                </div>

                <div class="circle--secondary--module">
                    <h3>Application Requirements</h3>
                    <textarea name="skill">{% for skill in project.related_skill.all %}{{ skill }} {% endfor %}</textarea>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
