{% extends 'base.html' %}
{% load staticfiles %}


{% block body %}

    <div class="circle--actions--bar">
        <div class="bounds">
            <div class="grid-100">
                <a class="button" href="{% url 'account:editproject' pk=project.id %}">Edit Project</a>
                <a class="button button-text" href="{% url 'account:delete' pk=project.id %}">Delete Project</a>
            </div>
        </div>
    </div>

    <div class="bounds circle--page circle--article">
        <div class="grid-70">
            <div class="circle--article--header">
                <h4 class="circle--article--section">Project</h4>
                <h1 class="circle--article--title">{{ project.title }}</h1>
                <p class="circle--article--byline">Project Owner: <a>{{ project.user.username }}</a></p>
            </div>

            <div class="circle--article--body">
                <p>{{ project.description }}</p>


            </div>

            <div class="circle--project--positions">
                <h2>Positions</h2>

                <ul class="circle--group--list">
                    {% for pro in project.position.all %}
                    <li>

                        <h3>{{ pro }}</h3>
                        <p>{{ pro.description }}</p>
                        <a class="button button-primary" href="{% url 'account:apply' pk=project.id %}">Apply</a>
                    </li>
                    <li>
                        <h3>Designer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                        <a class="button button-primary button-inactive">Position Filled</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="grid-25 grid-push-5">
            <div class="circle--secondary--module">
                <h3>Project Needs</h3>
                <ul class="circle--link--list">
                    {% for pro in project.position.all %}
                    <li><a>{{ pro }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--secondary--module">
                <h3>Project Timeline</h3>
                <p>{{ project.project_timeline }}</p>
            </div>

            <div class="circle--secondary--module">
                <h3>Applicant Requirements</h3>
                {% for skill in project.related_skill.all %}
                    {{ skill }}
                {% endfor %}


            </div>

        </div>
    </div>
{% endblock %}